.liste {
    background-image: url('../../../assets/img/sidebar-4.jpg');
}

.liste .message {
    text-align: center;
    width: 217.5px;
}

.liste .messagier {
    display: inline-block;
    width: 230.5px;
    height: 40px;
    text-align: center;
    margin: auto;
    position: relative;
    bottom: 4px;
    border-radius: 5px;
    background-color: white;
}